<footer>
    <p><strong>In perioada reducerilor de black friday si primavara  livrarea poate dura mai mult decat in mod normal!!!</strong></p>
    <section id="index-intrebari">
        <h2>Intrebari frecvente </h2>
        
        <details><summary>Daca castigam perechea de <b>adidasi</b> cum stiti ce marime purtam?</summary>
            <p>Cand va contactam la telefon sau mail ne puteti transmite marimea preferata de dvs.</p>
        </details>  
        <details><summary>Daca castigam perechea de <b>adidasi</b> ,perechea trebuie luata neaparat ridicata  din magazin de castigator sau poate fii livrata prin curier?</summary>
            <p>Desigur,putem expedia prin curier utilizand adresa trecuta in formular.</p>
        </details>
        <details><summary>La ce ora incepe black friday?</summary>
            <p>La ora 00:00 pe 9 noiembrie.</p>
        </details>  
    </section>
    <address>
        <br/>
        <br/>
        Adresa : Str. Turda 98 ,Bucuresti , sector 1,Romania
        <br/>
        <i class="fa-sharp fa-solid fa-location-dot"></i><a href="https://www.google.com/maps/place/Bloc+29A,+Str.+Turda+98,+Bucure%C8%99ti/data=!4m2!3m1!1s0x40b201f5f494e4e7:0xf92024efa6720e28?sa=X&ved=2ahUKEwih4N3I1tuEAxXGRPEDHWwiD5oQ8gF6BAgSEAA" id="linkuri">Locatie google maps</a>
        <br/>
        <i class="fa-sharp fa-solid fa-envelope"></i><a href="mailto:Sneakers4You444@gmail.com" id="linkuri">Sneakers4You@gmail.com</a>
        <br/>
        <i class="fa-solid fa-phone"></i> <a href="tel:+40725576136" id="linkuri"> +40725576136</a>
        <br/>
        <i class="fa-brands fa-whatsapp"></i><a href="https://wa.me/+40725576136" id="linkuri">Chat whatsapp</a>
    </address>
    <p><small>Copyright &copy;<time datetime="2024-02-26">26 februarie 2024</time></small></p>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi">&#129081</div></a>
    <p id="banner">Acesta este un proiect scolar!</p>
    <p id="banner-1">Acesta este un proiect scolar!<button id="ok_cookies">Accepta cookies</button></p>
    
</footer>